<br>
<div class="container-fluid">
  <div class="row align-items-center">
    {{#each PizzaList}}
    <div class="col-10 col-sm-3 md-4 ">
    <div class="card mb-3" style="max-width: 540px; min-height: 250px; background-color: #e0dc0fb4;" >
    <div class="row g-0">
        <div class="col-md-4" >
          <br>
        <img src="{{this.image}}" class="img-fluid rounded-start"  alt="Logo" style = "width: 1000px;">
        </div>
        <div class="col-md-8">
        <div class="card-body">
          
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Ingredient : {{this.Ingredients}}</p>
            <p class="card-text"><small class="text">Prix :{{this.Prix}} €</small></p>
          <form method="post">
            <input type="hidden" id="id" name="_id" value="{{this._id}}" />
            <input type="number" id="number" name="number"  style="width: 80px">
            <button type="submit" class="btn btn-outline-dark">Buy</button>
         </form>
        </div>
        </div>
    </div>
    </div>
    </div>
{{/each}}
  </div>


<script>

</script>